// variables
  light-blue = hsl(234, 25%, 52%)
  dark-blue = hsl(233, 54%, 16%)
  gray = hsl(232, 10%, 56%)
  hot-pink = hsl(341, 92%, 62%)
  light-pink = hsl(341, 100%, 83%)
  gradient-main = linear-gradient(180deg, hsl(322, 87%, 55%) 0.04%, hsl(13, 100%, 64%) 100%)
  gradient-secondary = linear-gradient(180deg, hsl(237, 100%, 64%) 0%, hsl(322, 87%, 55%) 99.92%)
  gradient-hover = linear-gradient(180deg, hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5))

  // mixins


// global reset
*
*::before
*::after
  box-sizing border-box

*
  margin 0

html
body
  height 100%

body
  -webkit-font-smoothing antialiased

img
  display block
  max-width 100%

// prevent text overflow
p, h1, h2, h3, h4, h5, h6
  font-family 'Plus Jakarta Sans', sans-serif
  overflow-wrap break-word
